@font-face {
    font-family: 'norse';
    src: url(font/Norse-Bold.otf);
}

html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

aside{
    background-image: url(imgs/bg.jpg);
    background-size: cover; 
    background-position: center;
    height: 100vh; /* Full viewport height */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside > div{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
}

aside > div > img{
    width: 100px;
    height: 130px;
}
aside > div > h3{
    font-family: 'norse';
    color: white;
    font-size: 90px;
    margin: 0;
}

aside > p{
    color: white;
    margin-top: 325px;
}

aside > p > a{
    color: white;
}

main > header{
    background-color: rgb(244, 244, 244);
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 180px;
    padding-bottom: 65px;
}

main > header > h1{
    margin: 0;
    font-size: 24px;
}

main > header > .know{
    margin-top: 20px;
}

main > form{
    padding-left: 20px;
    display: flex;
}

main > h1 {
    font-size: 24px;
    padding-left: 40px;
}

main > form label{
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,0.9);
    letter-spacing: 1px;
    margin: 0px 24px;
    word-spacing: 3px;
}

.div1, .div2{
    display: inline;
}

main > form input{
    display: block;
    margin: 0px 24px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 2px solid #E5E7EB;
    width: 260px;
    height: 25px;
    font-size: 16px;
}

